* {
  margin: 0;
  padding: 0;
}

body {
  background: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background: white;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  height: 40px;
  margin-right: 10px;
}

.header__search {
  display: flex;
  align-items: center;
  padding: 8px;
  background: #eef3f8;
  border-radius: 5px;
}

.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  color: gray;
  cursor: pointer;
}

.headerOption:hover {
  color: black;
}

.body__main {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
}

.sidebar, .widgets {
  background: white;
  border-radius: 10px;
  padding: 10px;
}

.feed {
  flex: 0.6;
  margin: 0 20px;
}

.post {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
}
